@import "../variables.modules";

.pink {
  color: $pink;
}

.green {
  color: $green;
}

.moonblue {
  color: $moonblue;
}

.skills {
  columns: 1;
  @media only screen and (min-width: 940px) {
    columns: 1;
  }
  transition: all 0.3s ease;

  li {
    &:hover {
      transform: translateY(-5px);  /* Bounce effect */
      background-color: $moonblue;  /* Background color transition */
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  /* Text shadow */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Box shadow */
    }
  }
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease;
  opacity: 1;
  transition: opacity 1s ease;
}

.hidden {
  opacity: 0;
}

