@import "../variables.modules";

.pink {
  color: $pink;
}

.green {
  color: $green;
}

.moonblue {
  color: $moonblue;
}

.skills-column {
  // display: flex !important;
  flex-direction: column !important;
  text-align: left !important;
  font-size: 1.2rem !important;
}

.skills-column li {
  &:hover {
    display: block !important;
    transform: translateY(-5px) !important;
    background-color: $moonblue !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    font-size: 1.5rem;
  }
}


li:hover {
  background-color: $moonblue;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




@media only screen and (max-width: 768px) {
  .skills-column {
    flex-direction: column !important;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease;
  opacity: 1;
  transition: opacity 1s ease;
}

.hidden {
  opacity: 0;
}

