@import "../variables.modules";
@import 'bootstrap/dist/css/bootstrap.min.css';

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
  @media only screen and (min-width: 940px) {
    font-size: 2rem;
    text-align: left;
  }
}

h2 {
  font-size: 2rem;
  text-align: center;
  @media only screen and (min-width: 768px) {
    font-size: 1rem;
    text-align: left;
  }
}


.hand {
  animation-name: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

a {
  color: $dark;
  transition: color 200ms ease;
}

// make hidden unless hovered over
a:hover {
  color: $lightgray;
  transition: color 200ms ease;
}

@keyframes wave {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

.moon-glow {
  @keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.75);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
  }
  animation: glow 2s infinite;
}

.sleeping-rooster-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}


// .sleeping-rooster {
//   width: 600px;
//   margin: 0; // Reset any margins
// }

.hidden {
  display: none;
}

.homepage-content {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.homepage-content.visible {
  opacity: 1;
}

@keyframes sleeping {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

/* Existing styles for desktop */
.sleeping-rooster {
  width: 100%;
  height: auto;
  border: none;
  outline: none;
}

/* New media query for mobile */
@media (min-width: 768px) {
  .sleeping-rooster {
    position: fixed;  /* Fixed position */
    top: 0;  /* Align to the top */
    left: 0;  /* Align to the left */
    width: 100vw;  /* Full viewport width */
    height: 100vh;  /* Full viewport height */
    z-index: 9999;  /* High z-index to cover other elements */
    object-fit: cover;  /* Cover the entire viewport */
  }
}

@keyframes zoomInFadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.zoom-in-fade-in {
  animation: zoomInFadeIn 1s ease-in-out !important;
}

@keyframes flyIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

// Your existing styles
.who-we-are-card, .what-we-do-card, .why-choose-us-card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px; // new: maximum width
  margin: 0 auto; // new: center the card
  animation: flyIn 1s ease-out; // add the animation here

  // Conditional border color based on dark or light mode
  border: 1px solid #fff; // Default to white border
  @media (prefers-color-scheme: dark) {
    border: 1px solid #000; // Change to black border for dark mode
  }

  // Add margin or padding between bullets
  margin-bottom: 15px; // You can adjust this value as needed

  // Your existing hover styles, etc.
  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 768px) {
    max-width: 100%;
    margin-bottom: 20px; // Add some space between cards for mobile view
    flex-direction: column; // Stacks them on top of each other for mobile view
  }
}

.who-we-are-card {
  animation-delay: 0.3s; // Delay the animation for "Who We Are" card
}

.what-we-do-card {
  animation-delay: 1.6s; // Delay the animation for "What We Do" cards
}

.why-choose-us-card {
  animation-delay: 3.1s; // Delay the animation for "What We Do" cards
}

.larger-header {
  font-size: 2rem; // Adjust as needed
  text-align: center; // Center the text
}

.contact-info {
  list-style: none; // Remove bullet points
  padding: 0; // Remove any default padding
  margin: auto;
}

.contact-item {
  margin-bottom: 5px; // Add some spacing between contact items
}

.contact-footer {
  text-align: center; /* Center the text horizontally */
}

@media (max-width: 768px) {
  .who-we-are-card, .what-we-do-card, .why-choose-us-card {
    width: 100%; /* Full width on small screens */
    padding: 15px; /* Reduced padding */
    /* ...other styles */
  }
}

/* New media query for mobile */
@media (max-width: 768px) {
  .sleeping-rooster {
    /* Your styles for smaller screens */
    position: fixed;  /* Fixed position */
    top: 0;  /* Align to the top */
    left: 0;  /* Align to the left */
    width: 100vw;  /* Full viewport width */
    height: 100vh;  /* Full viewport height */
    z-index: 9999;  /* High z-index to cover other elements */
    object-fit: cover; 
  }
}

// ... Existing styles

.welcome-header {
  @media (max-width: 768px) {
    white-space: nowrap !important;  // Prevent text from wrapping into the next line
    overflow: hidden !important;     // Hide overflow
    text-overflow: ellipsis !important; // Add ellipsis if the text overflows
  }
}









