@import "../variables.modules";

h1 {
  font-size: 2rem;
  text-align: center;
  @media only screen and (min-width: 940px) {
    font-size: 3rem;
    text-align: left;
  }
}

h2 {
  font-size: 1.25rem;
  text-align: center;
  @media only screen and (min-width: 940px) {
    font-size: 2rem;
    text-align: left;
  }
}


.hand {
  animation-name: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

a {
  color: $dark;
  transition: color 200ms ease;
}

// make hidden unless hovered over
a:hover {
  color: $lightgray;
  transition: color 200ms ease;
}

@keyframes wave {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

.moon-glow {
  @keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.75);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
  }
  animation: glow 2s infinite;
}

.sleeping-rooster-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 320px;  // Adjust this value based on the height of your navbar
  right: 0;
  bottom: 0;
  left: 0;
}

// .sleeping-rooster {
//   width: 600px;
//   margin: 0; // Reset any margins
// }

.hidden {
  display: none;
}

.homepage-content {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.homepage-content.visible {
  opacity: 1;
}

@keyframes sleeping {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

/* Existing styles for desktop */
.sleeping-rooster {
  width: 100%;
  height: auto;
  border: none;
  outline: none;
}

/* New media query for mobile */
/* New media query for mobile */
@media (max-width: 768px) {
  .sleeping-rooster {
    position: fixed;  /* Fixed position */
    top: 0;  /* Align to the top */
    left: 0;  /* Align to the left */
    width: 100vw;  /* Full viewport width */
    height: 100vh;  /* Full viewport height */
    z-index: 9999;  /* High z-index to cover other elements */
    object-fit: cover;  /* Cover the entire viewport */
  }
}


