@import "../variables.modules";

footer {
  color: $dark;
}

.dark {
  background-color: $dark;
  color: $white;
  transition: all 400ms;
  width: 100%;        
  height: 100%;
  background-size: cover;      // Cover the entire container
  background-position: center; // Center the image
  box-sizing: border-box;      // Include padding and border in width/height
  // overflow: hidden;      
  

  a, i, li {
    color: $white;
    transition: color 400ms;
  }

  a:visited {
    color: $white;
  }

  footer {
    color: $white;
  }
}

.light{
  background-color: $white;
  color: $dark;
  transition: all 400ms;
  width: 100%;        
  height: 100vh;
  background-size: cover;      // Cover the entire container
  background-position: center; // Center the image
  box-sizing: border-box;      // Include padding and border in width/height
  // overflow: hidden;   
}


.moon-glow {
  @keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.75);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
  }
  animation: glow 2s infinite;
}

@media only screen and (max-width: 768px) {
  footer {
    font-size: 1.2rem;
  }
  // other mobile-specific styles
}
