@import "../variables.modules";

.main-layout-container {
  @media (max-width: 768px) {
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
  }
}

body {
  overflow-x: hidden; // Prevent horizontal scrolling
}

footer {
  color: $dark;
  font-size: calc(1rem + 0.2vw); // Dynamic font size
}

.dark {
  background-color: $dark;
  color: $white;
  transition: all 400ms;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;

  a, i, li {
    color: $white;
    transition: color 400ms;
    font-size: calc(1rem + 0.2vw); // Dynamic font size
  }

  a:visited {
    color: $white;
  }

  footer {
    color: $white;
  }
}

.light {
  background-color: $white;
  color: $dark;
  transition: all 400ms;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.moon-glow {
  @keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.75);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }
  }
  animation: glow 2s infinite;
}

@media only screen and (max-width: 768px) {
  footer {
    font-size: calc(1rem + 0.2vw); // Dynamic font size
  }

  .who-we-are-card, .what-we-do-card, .why-choose-us-card {
    flex-direction: column;
    text-align: center; // Stack them on top of each other for mobile view
  }
}

