@import "../variables.modules";

nav {
  transition: $transition;
}

// Mobile Menu Icon
.menu-icon {
  display: none; // hide by default

  @media (max-width: 768px) {
    display: block; // show on small screens
    font-size: 2rem;
    cursor: pointer;
  }
}


.active {
  border-bottom: 5px solid;
  border-image-slice: 1;
}

li {
  transition: $transition;
  font-size: 2rem;

  &:hover {
    transform: translateY(-3px);
    transition: $transition;
  }
}

.ul-container {
  height: 100px; // Set a fixed height for desktop

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(1rem + 1vw);
    // text-transform: lowercase;
    font-size: 1rem;
  
    &:hover {
      background-color: #1c75bc !important;
    }
  
    @media (max-width: 768px) {
      flex-direction: column; // stack vertically on small screens
      gap: 1rem;
    }
  }
  
  @media (max-width: 768px) {
    height: auto; // Reset to auto for mobile screens
  }
}



/* Add new styles for mobile header container */
.header-container-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  color: $moonblue; /* Set your text color */
  width: 100%;
  margin-right: 5%;
}

