@import "../variables.modules";

nav {
  transition: $transition;
}

// Mobile Menu Icon
.menu-icon {
  display: none; // hide by default
  

  @media (max-width: 768px) {
    display: block; // show on small screens
    font-size: 2rem;
    cursor: pointer;
  }
}


.active {
  border-bottom: 5px solid;
  border-image-slice: 1;
}

li {
  transition: $transition;

  &:hover {
    transform: translateY(-3px);
    transition: $transition;
  }
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(1rem + 1vw);
  text-transform: lowercase;
  font-size: 1rem;

  @media (max-width: 768px) {
    flex-direction: column; // stack vertically on small screens
    gap: 1rem;
  }
}

/* Add new styles for mobile header container */
.header-container-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  color: $moonblue; /* Set your text color */
  width: 100%;
}

